body{
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    padding-top: 0;
}

html{
    height: 100%;
    background:linear-gradient(180deg, #305C8D 30%, #14263A 55.42%, #13202F 70.63%, #161A23 100%);
}


p{
    font-weight: 400;
    color: #fff;
    font-family: "Syne", Sans-serif;
    font-size: 22px;
    line-height: 1.5em;
    padding-bottom: 20px;
    width: 80%;
}

h1{
    margin-bottom: 0;
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    font-family: "Syne", Sans-serif;
    width: 85%;
}

.textBox{
    margin-top: 5%;
}

.row{
    margin: 0%;
    padding: 0;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.row2{
    margin: 0%;
    padding: 0;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin-top: -70px;
}

.row2 img{
    width: 350px;
    height: 100%;
    border-radius: 50%;
    background-color: #aedfe4;
    overflow: hidden;
}

.row2 img[name=clg]{
    border: none;
    border-radius: 50%;
}

.row2 img[name=dots1]{
    z-index: 0;
    width: 350px;
    border: none;
    background-color: transparent;
}
.row2 img[name=dots2]{
    width: 350px;
    border: none;
    background-color: transparent;
}

a{
    margin-top: -35px;
    text-decoration: none;
    color: white;
    font-family: "Syne", Sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 20px 33px 20px 33px;
    border-radius: 50px 50px 50px 50px;
    background-color: transparent;
    background-image: linear-gradient(90deg, #4F8AFB 25%, #1068EB 75%);

}